@font-face {
    font-family: 'OverpassBanner';
    src: url('../resources/fonts/Overpass/Overpass-ExtraBold.ttf') format('truetype');
    font-family:  'OverpassRegular';
    src: url('../resources/fonts/Overpass/Overpass-Regular.ttf') format('truetype');
  }
  
  /* css */
  html {
    text-align: center;
    font-family: "OverpassRegular";
    background-color: #242682;
  }
  
  body {
      color: aliceblue;
  }

  .pastlist a{
      color:aliceblue;
  }
  

  footer {
    background-color: #F64C72;
    padding: 20px;
  }